# middle protein feature files
*.pdb
*.fasta
*.hhm
*.dssp
*.rasa
*.ss

# middle output
*.pyc
*.model
*.npy
*.h5
experiments/images/
experiments/05-multipoint-analysis/data/
experiments/05-multipoint-analysis/images/
datasets/raw/
datasets/middlefile/
datasets/merged_evidence_patho_annotation.csv
datasets/merged_evidence_patho.csv
datasets/merged_evidence_patho_annotation_fix.csv
datasets/testset_unique_annotation_pred.csv
datasets/testset_unique_annotation.csv
test_predictions.csv


# middle scripts
middle_output.py
training_baseline.py